@charset "utf-8";

/*  -------------------------------------------------------------
    Navigate to Nasqueron
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Author:         Dereckson
    Tags:           Foundation, black, cold, stars, aurora
    Filename:       app.css
    Version:        1.0
    Created:        2014-01-18
    Licence:        Creative Commons BY 3.0
    -------------------------------------------------------------    */

/*  -------------------------------------------------------------
    Table of contents
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    :: Main styles
	:: Backgrounds
    :: Homepage content

*/

/*  -------------------------------------------------------------
    Main styles
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

/*  -------------------------------------------------------------
    Background
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

@media screen and (max-width: 400px) {
    body {
        background-color: black;
        background-image: url(/images/bg/DeepSpace-400.jpg), url(/images/bg/DeepSpace-400-low.jpg);
        background-position: bottom left;
        background-attachment: fixed;
        background-repeat: no-repeat;
		background-size: cover;
    }
}

@media screen and (min-width: 401px) and (max-width: 720px) {
    body {
        background-color: black;
        background-image: url(/images/bg/DeepSpace-720.jpg), url(/images/bg/DeepSpace-720-low.jpg);
        background-position: bottom left;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
    body {
        background-color: black;
        background-image: url(/images/bg/DeepSpace-1280.jpg), url(/images/bg/DeepSpace-1280-low.jpg);
        background-position: bottom left;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    body {
        background-color: black;
        background-image: url(/images/bg/DeepSpace-1440.jpg), url(/images/bg/DeepSpace-1440-low.jpg);
        background-position: bottom left;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    body {
        background-color: black;
        background-image: url(/images/bg/DeepSpace-1920.jpg), url(/images/bg/DeepSpace-1920-low.jpg);
        background-position: bottom left;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1921px) {
    body {
        background-color: black;
        background-image: url(/images/bg/DeepSpace-2880.jpg), url(/images/bg/DeepSpace-2880-low.jpg);
        background-position: bottom left;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

/*  -------------------------------------------------------------
    Homepage content
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

@media screen and (max-width: 834px) {
	.homepanel {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.38);
		position: fixed;
		bottom: 0;
		color: white;
		padding: 1em 1em;
		text-align: center
	}

	.homepanel h1, .homepanel h2 {
		color: white;
	}
}

@media screen and (min-width: 835px) {
	.homepanel {
		background-color: rgba(255, 255, 255, 0.38);
		color: white;
		width: 746px;
		position: fixed;
		bottom: 88px;
		left: 88px;
		padding: 1em 1em;
	}

	.homepanel h1 {
		font-size: 30pt;
		color: white;
	}

	.homepanel h2 {
		font-size: 20pt;
		color: white;
	}

	.homepanel p {
		font-family: "Open Sans", "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
		font-size: 16pt;
		font-weight: 300;
		color: white;
	}
}